* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body {
    background: url(../img/textura_bg.jpg);
}

/* --------------------------------------------------------------- */

/* Estilo general para enlaces y titulos */

a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}

h1 {
    -webkit-text-stroke: 1px black;
    color: white;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.texto_negrita {
    font-weight: bold;
}

.h2_center {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
    text-decoration: underline;
}

/* --------------------------------------------------------------- */

/* Header + Portada */

nav {
    background: #323232;
    height: 80px;
    width: 100%;
}

.logo {
    width: 90px;
    height: 75px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* --------------------------------------------------------------- */

/* HTML Index */

.front_index {
    background-image: url(../img/portada.png);
    min-height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.front_index h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 4.5rem;
    clear: left;
    top: 25rem;
    left: 0;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px black;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.front_index span {
    color: #b39975;
}

.home_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.home_info-text {
    width: 50%;
    justify-items: center;
    margin: 8% 7% 5% 3%;
}

.home_info-text p {
    font-size: 1rem;
}

.home_info-img img {
    width: 60%;
    margin-left: 25%;
    margin-top: 10%;
}

.habitaciones {
    width: 85%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.cards{
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,02);
}

.card-image {
    height: 225px;
}

.cards .img-one {
    background-image: url(../img/habitacion1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .img-two {
    background-image: url(../img/habitacion1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .img-three {
    background-image: url(../img/habitacion1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_text {
    padding: 15px 10px;
    text-align: center;
}

.card_text h2{
    letter-spacing: 1.5px;
}

.card_text p{
    margin: 15px 0px;
    font-size: 15px;
}

.card_text a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: #66c20a;
    padding: 8px 15px;
}

.card_text a:hover{
    background-color: #d4bb19;
    color: #333;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

/* --------------------------------------------------------------- */

/* HTML Bar & Rest */

#portada_bar-rest {
    background-image: url(../img/portada_bar.png);
    min-height: 60vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#portada_bar-rest h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 4.5rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px black;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

#textos_bar-rest {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 60%;
}

#textos_bar-rest h2 {
    margin-bottom: 40px;
    text-decoration: underline;
}

#textos_bar-rest h3 {
    margin-bottom: 40px;
    text-decoration: underline;
}

#boton_menu {
    margin-top: 5%;
    margin-bottom: 5%;
}

#boton_menu a {
    border: 1px solid #2e518b;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
}

#boton_menu a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
}

#bar_img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

#bar_descripcion {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

#bar_descripcion {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

#bar_descripcion h3 {
    margin-top: 20px;
}

#restaurante_descripcion {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

#restaurante_descripcion h3 {
    margin-top: 20px;
}

/* --------------------------------------------------------------- */

/* HTML Galeria */

.front_galeria {
    background-image: url(../img/portada_galeria.png);
    min-height: 60vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.front_galeria h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 4.5rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px black;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.galeria_text {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 40%;
}

.galeria_text h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.galeria_text h2 {
    text-decoration: underline;
}

.galeria_img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    margin: auto;
    width: 80%;
    margin-bottom: 25px;
}

.galeria_img img {
    width: 100%;
    height: auto;
}

/* --------------------------------------------------------------- */

/* HTML Nosotros */

.front_nosotros {
    background-image: url(../img/portada_nosotros.png);
    min-height: 60vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.front_nosotros h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 4.5rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px black;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nosotros_img {
    margin: 5% 5% 5% 10%;
    width: 40%;
}

.nosotros_img img {
    width: 100%;
}

.nosotros_text {
    margin: 5% 10% 5% 0%;
    text-align: center;
    width: 60%;
}

.nosotros_text h2 {
    text-decoration: underline;
    margin-bottom: 5%;
}

.nosotros_text p {
    text-align: left;
    font-size: 1.2rem;
}

/* --------------------------------------------------------------- */

/* HTML Contacto */

#portada_contacto {
    background-image: url(../img/contacto.png);
    min-height: 60vh;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#portada_contacto h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 4.5rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute;
    text-shadow: 0 0 10px black;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.formulario {
    display: flex;
    justify-content: center;
    margin: 5% 0 5% 0;
}

.formulario article {
    margin-right: 5%;
    width: 450px;
    height: auto;
}

.formulario article p {
    margin-bottom: 50px;
}


/* --------------------------------------------------------------- */

/* Footer */

footer {
    background-color: #323232;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.footer_logo {
    margin-top: 2rem;
    height: 100px;
    width: auto;
}

footer img {
    margin: 1.5rem;
}

.footer_redes {
    margin: 2rem 1.5rem;
    width: 16rem;
    justify-self: end;
}

.footer_redes p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.footer_redes a {
    margin: 1rem;
    position: relative;
    left: 2rem;
    font-size: 2rem;
    text-decoration: none;
}

/* --------------------------------------------------------------- */

/* Media querys */

@media screen and (max-width: 768px) {

p {
    font-size: 1rem;
}

.h2_center {
    font-size: 1.5rem;
    text-align: center;
}

.front_index h1 {
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 350px;
    position: static;
}

.home_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.home_info-img img {
    margin-left: 3%;
    width: 93%;
}

.home_info-text {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.footer_logo {
    justify-self: center;
    margin: 4rem 0rem 0rem 0rem
}

.footer_redes {
    justify-self: center;
} 

.checkbtn{
    display: block;
}

ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    font-size: 20px;
}

a:hover,a.active{
    background: none;
    color: #0082e6;
}

#check:checked ~ ul{
    left: 0;
}

/* --------------------------------------------------------------- */

/* Galeria */

.front_galeria h1 {
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 180px;
    position: static;
}

.galeria_text {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 80%;
}

/* --------------------------------------------------------------- */

/* Nosotros */

.front_nosotros h1 {
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding-top: 180px;
    position: static;
}

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nosotros_img {
    width: 300px;
}

.nosotros_text {
    margin: 0 0 10% 0;
    width: 80%;
}

}